*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 20px;

  font-family: Helvetica, arial, sans-serif;
  color: #727272;

  background-color: #fafafa;
}

a {
  color: #313131;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #fff;
  background-color: #FF9705;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 150px auto 0;
}

.interests {
  opacity: 0.5;
}

.welcome {
  margin-top: 10px;

  color: #FF9705;
}

.blurb {
  line-height: 24px;
}

.social-link {
  margin-right: 10px;
  display: inline-block;
}

@media (max-width: 767px) {
  .container {
    margin-top: 40px;
  }
}
