*,
*:before,
*:after {
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
}

body {
  padding: 20px;

  font-family: Menlo, Courier New, Courier, Mono, monospace;
  color: #f9f6f6;
  font-size: 0.9rem;

  background-color: #0B1418;
}

a {
  color: #848484;
  text-decoration: none;
}

a:hover,
a:active,
a:focus {
  color: #0B1418;
  background-color: #ffc066;
}

.container {
  width: 100%;
  max-width: 900px;
  margin: 150px auto 0;
}

.interests {
  opacity: 0.5;
}

.welcome {
  margin-top: 10px;

  color: #f0a335;
}

.blurb {
  line-height: 24px;
}

.social-link {
  margin-right: 10px;
  display: inline-block;
}

@media (max-width: 767px) {
  .container {
    margin-top: 40px;
  }
}
